<h1>Sign In</h1>
<div class="my-5 text-gray-700  max-w-2xl bg-sky-950 p-8 rounded-lg">
  <%= form_with(url: session_path, local:true) do |f|%>
    <%= f.label :email, class: 'form-label'%>
    <%= f.email_field :email, autofocus:true, class: 'form-input mb-4'%>
    <%= f.label :password, class: 'form-label'%>
    <%= f.password_field :password, class: 'form-input mb-4'%>
    <div class="flex justify-start">
      <%= f.submit "Log In",class: 'inline-flex items-center button-basic'%>
    </div>
  <% end %>
</div>
