<div class="my-5 text-gray-700">
  <%= form_with(model: [post, comment], local: true, html: {id: 'comment-form'}) do |f| %>
    <%= render "shared/form_errors", errors:comment.errors %>
    <div class="mb-4">
      <%= f.label "Leave a comment", class: 'form-label mb-6'
    %>
      <%= f.text_area :content, rows: 3, class: 'form-input' %>
    </div>
    <div class="flex justify-start">
      <%= f.submit 'Add Comment', class: 'button-basic' %>
    </div>
  <% end %>
</div>
