<li>
  <div class="text-gray-100 mb-5">
    <div class="px-8 py-4 mx-auto rounded-lg shadow-sm bg-sky-950">
      <div class="mt-3">
        <%= link_to post.title, post_path(post), class:'text-2xl font-bold
        hover:underline' %>
        <div class="flex">
          <span class="text-sm text-gray-400"><%= published(post) %></span>
        </div>
        <p class="mt-2"><%= truncate(post.body, {length:300}) %></p>
      </div>
      <div class="flex items-center justify-between mt-4">
        <%= link_to 'Read More', post_path(post), class:'hover:underline
        text-violet-500' %>
        <div>
          <div class="flex items-center">
            <% post.tags&.each do |tag| %>
              <span
              class="px-2 py-1 mx-1 text-xs font-bold text-gray-100 bg-gray-600 rounded-full bg-gray-700"
              ><%= tag.name %></span
            >
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</li>
