<header class="relative">
  <nav class="fixed bg-sky-850 max-w-7xl mx-auto w-[97vw]">
    <div class="w-full max-w-5xl container mx-auto">
      <div class="flex items-center flex-row">
        <%= link_to root_path do %>
          <div class="flex items-center">
            <div class="flex items-center">
              <div class="rounded-full overflow-hidden mr-3 w-20 h-20">
                <%= image_tag("logo") %>
              </div>
            </div>
          </div>
        <% end %>
        <div class="flex items-center space-x-4 justify-between w-full">
          <a
            href="/"
            class="bg-gray-900 text-white rounded-md px-3 py-2 text-lg font-medium"
            aria-current="page"
            >Posts</a
          >
          <div class="flex items-center">
            <% if current_user %>
              <h3>
                <%= link_to "Hello #{current_user.name}", current_user, class:"mr-4" %>
              </h3>
              <%= link_to "Sign Out", session_path, method: :delete, class:"button-basic"%>
            <% else%>
              <%= link_to "Sign In", new_session_path, class:"button-basic mr-4"%>
              <%= link_to "Sign Up", signup_path, class:"button-basic"%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
</header>
