<!DOCTYPE html>
<html class="h-full">
  <head>
    <title>BlogOnEm</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track":
    "reload" %>
    <%= stylesheet_link_tag 'application', media: 'all',
    'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="/dist/output.css" rel="stylesheet" />
  </head>
  <body class="h-full">
    <%= render "layouts/header" %>
    <div class="h-full flex flex-col container mx-auto">
      <main class="flex-grow">
        <div class="mx-auto max-h-[85vh] overflow-auto container max-w-5xl mt-28">
          <%= render "layouts/flash" %>
          <%= yield %>
        </div>
      </main>
      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
